@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,100&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

#wrapper {
  width: 100vw;
  background-image: url("images/Header-bg.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: calc(50px);
  background-position-x: -10px;
  margin-left: 24px;
  margin-right: 24px;
  background-color: #e5e5e5;
}

#container {
  display: flex;
  flex-direction: row;
  column-gap: 250px;
  align-content: space-between;
  margin-left: 24px;
  margin-right: 24px;
  background-color: white;
}

#navbar {
  margin-top: 13px;
  margin-left: -30px;
}

.logo {
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-weight: 700px;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
}

#name {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #091e42;
  padding-top: 190px;
  margin-left: 24px;
  margin-right: 24px;
}

#about {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #344563;
  width: 350px;
  margin-left: 24px;
  margin-right: 24px;
}

.connect {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-left: 24px;
  margin-right: 24px;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.socialmedia {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-left: -17px;
  margin-right: 24px;
}

#section {
  margin-right: 24px;
}

.middle {
  display: grid;
  margin-top: 100px;
}

.content {
  display: grid;
  justify-content: space-evenly;
  margin-left: 24px;
  background-color: white;
  padding: 15px;
  border-radius: 10px;
  margin-right: 24px;
}

.item {
  padding-right: 8px;
  margin-top: 18px;
}

.item2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.row {
  display: inline-grid;
  grid-template-columns: auto auto auto auto auto;
  column-gap: 7px;
  margin-left: -38px;
  margin-top: -25px;
}

.item3 {
  grid-column: 1/1;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 10px;
  color: #344563;
  padding: 0;
}

.item5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 10px;
  color: #6b778c;
  padding: 0;
}

.item7 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 10px;
  color: #6b778c;
  padding: 0;
}

.item8 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.skills {
  display: inline-grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 10px;
  margin-left: -40px;
}

button {
  padding: 4px 12px;
  color: #6070ff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  background: #ebebff;
  border-radius: 8px;
  border: none;
}

.btn {
  margin-left: 1px;
  margin-bottom: 10px;
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
  border: 1px solid blue;
  border-radius: 8px;
  padding: 10px;
  background-color: white;
}

button:hover {
  background: #4053fc;
  color: white;
}

button:disabled {
  border: 1px solid black;
}

.contentone {
  margin-top: 90px;
}

.part {
  background-color: white;
  margin-top: 150px;
  width: 100%;
  border-top-right-radius: 80px;
}

#complete {
  padding-top: 140px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #091e42;
}

.last {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

#intouch {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.social {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  margin-left: -30px;
}

.lang {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
  margin-left: -30px;
}

.arrow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.arrow-image {
  margin-top: 20px;
  margin-right: 40px;
}

.stacked {
  display: flex;
  margin-top: 20px;
  margin-left: 10px;
  background: #f7f7f9;
  border-radius: 8px;
  margin-right: 20px;
  padding: 8px;
  width: 90%;
}

.listing {
  padding-top: 2px;
  padding-left: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin-left: -30px;
  color: #253858;
}

.others {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: -28px;
}

.icon {
  margin-right: 50px;
  margin-top: 5px;
}

.text {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #344563;
}

#ending {
  padding-bottom: 40px;
}

#grind {
  background-color: white;
  border-bottom-left-radius: 50px;
  padding-bottom: 15px;
  background-image: url("images/Header-bg.png");
  background-repeat: no-repeat;
  background-position-x: 15px;
  background-position-y: 80px;
  background-size: contain;
}

#form-area {
  background-color: white;
}

#form-section {
  background-image: url("images/Header-bg.png");
  background-color: #6070ff;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 80px;
  overflow: hidden;
  padding: 100px 24px;
  width: 100%;
}

.form-heading {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
}

.form-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  max-width: 327px;
  color: #ebebff;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

input[type="text"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  border: 1px solid #cfd8dc;
}
input[type="email"] {
  padding: 8px;
  border-radius: 4px;
  border: none;
  border: 1px solid #cfd8dc;
}

textarea {
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 8px;
}
